@import '../../designUtils/colors';

.navbar {

    background-color: white;
    height: 60px;
    border-bottom: $shadow-gray 2px solid;

    &__overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, .45);
        width: 100%;
        height: 100%;
        top: 60px;
        z-index: 2;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        max-width: 800px;
        margin: 0 auto;
        cursor: default;
    }

    &__logo {
        font-size: 24px;
        font-weight: 600;
    }

    &__menuItems {
        display: flex;
        width: 32%;
        justify-content: space-between;
    }

    &__menuItem {
        list-style: none;
    }

    &__toggleIcon {
        display: none;
    }

    @media only screen and (max-width: 840px) {
        &__links {
            padding: 0 15px;
        }
    }

    @media only screen and (max-width: 440px) {
        &__links {
            padding: 0 20px;
        }

        &__menuItems {
            display: none;
            &-active {
                display: block;
                background-color: white;
                width: -webkit-fill-available;
                z-index: 10;
                position: absolute;
                margin-top: 60px;
                left: 0;
                border-bottom: 1px $shadow-gray solid;
            }
        }

        &__menuItem {
            padding: 0 20px;
            &:not(:last-child) {
                border-bottom: 1px solid $shadow-gray;
            }
        }

        &__toggleIcon {
            display: block;
            font-weight: 600;
            font-size: 24px;
        }
    }
}

