@import '../designUtils/colors';

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

    &__title { 
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 12px;
        
    }

    &__subheader {
        color: $highlight-gray;
        font-size: 20px;
        margin-bottom: 12px;
    }

    &__salesPoints{
        background-color: #F9F5F1;
        padding: 10px;
    }

    &__salesPoint {
        padding: 10px;
        display: flex;
        &:not(:last-child){
            border-bottom: 1px solid black;
        }
    }

    &__salesPointIcon {
        font-size: 14px;
        padding-right: 8px;
    }

    @media only screen and (max-width: 440px) { 
       display: block;
       margin: 0 15px 15px;

       &__info {
        margin-top: 15px;
       }
    }

}